<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFFFFF"/>
  <meta name="description" content="Restaurant Catalogue">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="preload" 
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
    crossorigin="anonymous">
  <title>Restaurant App</title>
</head>
<body>
  <a href="#restaurant" class="skip-to-content">Skip To Content</a>
  <div class="spinner">
    <div class="spinner__item">
      <img src="./icons/icon-192x192.png" alt="loadingSpinner">
    </div>
  </div>
  <header class="header">
    <h1 class="header__logo" aria-label="Restaurant App Logo" tabindex="0"><a href="/#/home">Restaurant</a></h1>
    <form class="header__search">
      <input 
      type="text" 
      placeholder="Looking for restaurant?"
      class="search__input">
      <button 
      type="submit"
      class="search__submitBtn">Search</button>
    </form>
    <nav class="header__nav">
      <ul class="nav-list">
        <li class="nav-list__item"><a href="#/Home">Home</a></li>
        <li class="nav-list__item"><a href="#/Favorite">Favorite</a></li>
        <li class="nav-list__item"><a href="https://github.com/novraedi" target="_blank">About Us</a></li>
      </ul>
    </nav>
    <button class="header__hamburger" aria-label="hamburger button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>
  
  <main id="mainContent" tabindex="0"></main>

  <!-- footer -->
  <footer class="footer">
    <p tabindex="0" class="footer__copyright">copyright &#169 2023 - Restaurant Apps</p>
  </footer>
</body>
</html>
